.play {
  display: grid;
  grid-template-rows: 100px auto 1fr 1fr;
  padding-right: 60px;
  align-items: center;
  justify-content: center;

  .task-display {
    min-width: 800px;
    min-height: 600px;
    display: grid;
    align-items: center;
    justify-content: space-between;
    grid-template-areas: "player monster";
    background-image: url("../../assets/images/scroll.png");
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-position: center;
    padding: 40px;
    position: relative;

    .task-display-title {
      position: absolute;
      top: 2rem;
      left: 4rem;
      font-size: 2rem;
      color: white;
      text-shadow: var(--text-border);
    }
    .current-monster {
      grid-area: monster;
      display: flex;
      flex-direction: column;
      justify-content: space-around;
      align-items: center;
      height: 90%;
      max-width: 260px;
      min-width: 260px;
      padding-top: 30px;
      position: relative;

      .monster-icon {
        filter: drop-shadow(0px 0px 10px #000);
      }

      #tooltip-reroll-monster {
        position: absolute;
        top: 0;
        left: 50%;
        transform: translateX(-50%);
        .monster-reroll-button {
          padding: 0;
          width: 30px;
          height: 30px;
          &:hover {
            background: radial-gradient(
              circle,
              rgba(241, 222, 169, 0.7) 0%,
              rgba(241, 222, 169, 0) 100%
            );
          }

          .button-box-button {
            padding: 0;
            .button-box-title {
              color: white;
              text-shadow: var(--text-border);

              .icon-wrapper {
                width: 100%;
                .icon {
                  width: 30px;
                  height: 30px;
                  color: black !important;
                  margin: auto;
                }
              }
            }
          }
        }
      }
    }
    .player-list {
      grid-area: player;
      display: grid;
      grid-template-rows: repeat(4, 1fr);
      grid-gap: 1em;
      height: max-content;
      min-width: 450px;

      .player-card {
        display: grid;
        grid-template-columns: 2em 1fr 2fr 2em;
        grid-gap: 1em;
        align-items: center;
        justify-content: center;
        padding: 10px;

        color: white;
        text-shadow: var(--text-border);
        background: linear-gradient(
          90deg,
          rgba(241, 222, 169, 0) 0%,
          rgba(241, 222, 169, 0.4) 40%,
          rgba(241, 222, 169, 0.4) 60%,
          rgba(241, 222, 169, 0) 100%
        );
        border-bottom: 2px dashed grey;
        border-top: 2px dashed grey;

        .player-weapon {
          width: 2em;
          height: 2em;
          margin: 0 auto;
        }
        .player-name {
          text-align: center;
          font-size: 1.5rem;
          font-weight: bold;
          margin: 0;
        }
        .player-controll-button {
          padding: 0;

          &:hover {
            background: radial-gradient(
              circle,
              rgba(241, 222, 169, 0.5) 0%,
              rgba(241, 222, 169, 0) 100%
            );
          }
          .button-box-button {
            padding: 0;
            .button-box-title {
              color: black !important;
              .icon-wrapper {
                width: 100%;
                .icon {
                  color: black !important;
                  margin: auto;
                }
              }
            }
          }
        }
      }
      .player-button {
        display: flex;
        padding: 0;

        .add-player-button {
          &:hover {
            background: linear-gradient(
              90deg,
              rgba(241, 222, 169, 0) 0%,
              rgba(241, 222, 169, 0.5) 40%,
              rgba(241, 222, 169, 0.5) 60%,
              rgba(241, 222, 169, 0) 100%
            );
          }

          .button-box-title {
            color: black !important;
            .icon {
              color: black !important;
            }
          }
        }
      }
    }
    .reroll-all-button {
      position: absolute;
      bottom: 4rem;
      left: 50%;
      transform: translateX(-50%);
      padding: 0;
      width: max-content;
      height: max-content;

      padding: 4px 20px;
      border: 2px solid #58585c;
      border-radius: 5px;
      font-family: "Arial Narrow", Arial, sans-serif;
      background: rgb(30, 72, 78);
      background: radial-gradient(
        circle,
        rgba(30, 72, 78, 1) 30%,
        rgba(17, 41, 52, 1) 75%,
        rgba(14, 36, 47, 1) 100%
      );

      &:hover {
        border-color: rgb(72, 187, 57);
        background: radial-gradient(
          circle,
          rgba(30, 86, 87, 1) 30%,
          rgba(21, 72, 57, 1) 75%,
          rgba(17, 55, 46, 1) 100%
        );
      }

      .button-box-button {
        padding: 0;

        .button-box-title {
          font-size: 1.6em;
          color: #cace67;
          text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
        }
      }
    }
  }
  .weapon-list {
    display: grid;
    grid-template-columns: repeat(14, 1fr);
    grid-gap: 10px;
    width: 40%;
    margin: 20px auto;
    .weapon-icon {
      width: 100%;
      height: 100%;
      margin: 0 auto;
    }
  }
  .config-drawer {
    right: 0;
    max-width: 40%;
    padding: 20px;
    z-index: 101;
    cursor: auto;
    overflow-y: auto;

    .config-drawer-title {
      margin-top: 0;
    }

    .drawer-button {
      left: 0;
    }

    .monster-grid {
      display: grid;
      grid-template-columns: repeat(12, 1fr);
      grid-gap: 10px;
      margin-top: 20px;
    }
  }
  .monster-card > .tooltipped-item {
    display: flex;
    height: 100%;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;

    .monster-icon {
      margin: 0 auto;
      width: 100%;
      height: 100%;
    }
    .monster-name {
      text-align: center;
      margin-top: 10px;
      font-size: 1rem;
      display: none;
    }
  }
}
