.play {
  padding-right: 60px;

  .weapon-list {
    display: grid;
    grid-template-columns: repeat(14, 1fr);
    grid-gap: 10px;
    width: 40%;
    margin: 20px auto;
    .weapon-icon {
      width: 100%;
      height: 100%;
      margin: 0 auto;
    }
  }
  .monster-grid {
    display: grid;
    grid-template-columns: repeat(16, 1fr);
    grid-gap: 10px;
    margin-top: 20px;
    .monster-card {
      display: flex;
      flex-direction: column;

      .monster-icon {
        margin: 0 auto;
        width: 100%;
        height: 100%;
      }
      .monster-name {
        text-align: center;
        margin-top: 10px;
        font-size: 1rem;
        display: none;
      }
    }
  }
  .config-drawer {
    right: 0;
    max-width: 40%;
    padding: 20px;
    z-index: 101;
    cursor: auto;
    overflow-y: auto;

    .drawer-button {
      left: 0;
    }

    .monster-grid {
      display: grid;
      grid-template-columns: repeat(8, 1fr);
      grid-gap: 10px;
      margin-top: 20px;
      overflow-y: auto;

      .monster-card {
        display: flex;
        flex-direction: column;

        .monster-icon {
          margin: 0 auto;
          width: 100%;
          height: 100%;
        }
        .monster-name {
          text-align: center;
          margin-top: 10px;
          font-size: 1rem;
          display: none;
        }
      }
    }
  }
}
