.tooltip-wrapper {
  position: relative;

  .tooltip {
    display: none;
    position: absolute;
    left: 50%;
    background-color: var(--background);
    color: var(--text);
    border: 1px solid var(--border);
    border-radius: 5px;
    margin: auto;
    padding: 0.5em;
    text-align: center;
    font-size: 1.1em;
    font-weight: bold;
    min-width: 100px;
    width: max-content;
    max-width: 250px;
    min-height: 50px;
    box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.5);
    z-index: 9999;

  }
  .tooltip-dir-top{
    top: -10px;
    transform: translate(-50%, -100%);

  }
  .tooltip-dir-bottom{
    bottom: -10px;
    transform: translate(-50%, 100%);

  }
}
.tooltip::after {
  content: "";
  position: absolute;
  width: 15px;
  height: 15px;
  background-color: var(--background);
  z-index: -1;
}
.tooltip-wrapper:hover > .tooltip,
.tooltip-wrapper:focus > .tooltip {
  display: block;
}
.tooltip-dir-top::after {
  bottom: 0;
  left: 50%;
  border-bottom: 1px solid var(--border);
  border-right: 1px solid var(--border);
  transform: translate(-50%, 50%) rotate(45deg);
}
.tooltip-dir-bottom::after {
  top: 0;
  left: 50%;
  border-top: 1px solid var(--border);
  border-left: 1px solid var(--border);
  transform: translate(-50%, -50%) rotate(45deg);
}
